/* src/components/About.css */
.about {
    padding: 2em;
    max-width: 900px;
    margin: auto;
    background-color: #3A3A3A; /* Darker gray for better contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #D6D6D6; /* Light Gray for text */
    margin-top: 5em; /* Add margin to shift content down */
}

.about-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    text-align: center;
}

.about-heading {
    margin-bottom: 20px;
    color: #F58F7C; /* Coral color for the heading */
}

.typing-container {
    margin-bottom: 20px; /* Space between typing effect and text */
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.about-text {
    max-width: 800px;
    color: #D6D6D6; /* Ensure text color is consistent with theme */
}

.typing-effect {
    font-family: 'Courier New', Courier, monospace; /* Typewriter-like font */
    font-size: 1.5em;
    color: #F58F7C; /* Typing color */
    padding-right: 5px; /* Space for cursor */
    border-right: 2px solid #F58F7C; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
