/* src/App.css */
@media screen and (max-width: 600px) {
    .container {
        padding: 1em;
        margin: 0.5em;
    }
}


body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #454546;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(#383838, #454546, #2c2c2d, #505051, #383838);
    animation: rotate 20s linear infinite;
    z-index: -1;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.App {
    text-align: center;
    position: relative;
    z-index: 1;
}

header, main, footer {
    padding: 0;
    margin: 0;
    width: 100%;
}

section {
    padding: 60px 0 40px;
    margin-bottom: 60px;
}

section h2 {
    color: #ffffff;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: left;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.typing-animation {
    font-family: 'Courier New', Courier, monospace;
    border-right: 2px solid #1e90ff;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #1e90ff; }
}